@import "normalize";

@import "extends";



/* ==|== primary styles =====================================================
   Author: Divya Manian
   ========================================================================== */
* { box-sizing: border-box; }
body {
  background: #eee;
  color: #111;
  text-shadow: 1px 1px 1px #fff;
}

.labels {
  width: 8rem;
  top: 0; bottom: 0; left: 0;
  position: fixed;
  background: #333;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: 0.8rem;
  padding: 0.25rem;

  button {
    display: block;
    color: #777;
    width: 100%;
    padding: 1em 0;

    + button { border-top: 1px solid #000; }

    &.active { color: #fff; }
  }
}

.actions {
  background: #ddd;
  border-bottom: 1px solid #ccc;
  margin-left: -1em;
  white-space: nowrap;
  padding: 0.5em 0;
  font-size: 0.8em;
  .compose,
  .search { display: inline-block; white-space: normal; }

  .compose { 
    text-align: left; 
    &::before { content: "¶ "; vertical-align: top; }
  }

  .search { position: absolute; right: 1em; width: 30%; }
}

button { 
  @extend .reset-button;
 }

#cottonapp {
  padding-left: 9em;
}

@import "print";





















